<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <H2>Do you Want to delete</H2>
    <h3><%= d1.title %></h3>
    <form action="/listings/<%= d1._id %>/delete?_method=delete" method="post">
        <button name="yes">YES</button> 
        &nbsp; &nbsp;  &nbsp;
        <button name="no">NO</button>
    </form>
</body>
</html>